
.mt-80 {
    margin-top: 80px;
}

.mt-110 {
    margin-top: 110px;
}
.tx-center {
    margin-top: 10px;
}

.w-100 {
    width: 100%;
}

.w-30 {
    width: 30%
}

.color-bk {
    color: black;

}

.pd-10 {
    margin: 10px;
}

.bg-color {
    background-color: #b8e2fc;
}

.btn-primary {
    background-color: papayawhip !important;
    border-color: papayawhip !important;
    color: black !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: papayawhip !important;
    color: black !important;
}



@media (max-width: 575.98px) {
    .course-editor-header-title {
        color: black;
        font-weight: bold;
    }
    .module-list-add-button {
        font-size: 10px !important;
    }
    .module-item-title {
        font-size: small !important;
    }

    .icon {
        font-size: small !important;
    }

}




@media (min-width: 576px) and (max-width: 991.98px) {
    .course-editor-header-title {
        color: black;
        font-weight: bold;
        font-size: medium;
    }
    .module-list-add-button {
        font-size: medium;
    }
    .module-item-title {
        font-size: medium !important;
    }

    .icon {
        font-size: medium !important;
    }
}




@media (min-width: 992px) {
    .course-editor-header-title {
        color: black;
        font-weight: bold;
        font-size: large;
    }
    .module-list-add-button {
        font-size: large;
    }
    .module-item-title {
        font-size: large !important;
    }
    .icon {
        font-size: large !important;
    }
}
